/* Full Screen Styling */

#full-window-button
{
 float: top;
  margin: 5px 5px 5px 0px;
}

#bookview_button
{
  float: top;
  margin: 5px 5px 5px 0px;
}

#image-annotations
{
  height: 100% !important;
}
.islandora-crited-fullwindow
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top-padding: 20px;
  top: 5px;
  z-index: 10;
  background: #fff;
}

.islandora-crited-fullwindow .islandora-crited-iframe-wrapper
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;

  width: 100%;
  z-index: 60;

  background: #fff;
}

.islandora-crited-fullwindow .islandora-crited-iframe-wrapper .iframe_replacement
{
  position: absolute;
  width: 100%;
   height: 100% !important;
}

.base_img
{
  top: 1px !important;
  left: 1px !important;
}

#shared-canvas-logo-img
{
  width: 25px !important;
  height: 30px !important;
}

.entitiesList .txtimglnk .box {
    background-image: url('../CWRC-Writer/src/img/cake.png');
}

.entitiesList .txtimglnk .box, .entitiesList .txtimglnk.over {
    background-color: #7F00FF;
}

.entitiesList .txtimglnk.selected, .entitiesList .txtimglnk.selected .box {
    background-color: #7F00FF;
}

#tree.jstree li.txtimglnk {
    background-color: #7F00FF;
}

.islandora_crited_list {
  list-style-type: none;
}

.islandora_crited_list * {
  text-decoration: none;
}
