/* body { */
/*   color: #333; */
/*   font-family: 'Book Antiqua', serif; */
/*   font-size: 11pt; */
/* } */

.showEntityBrackets .entity {
  display: inline-block;
  height: 11px;
  width: 2px;
}

.showEntityBrackets .start {
  border-bottom-left-radius: 4px;
  border-left: 2px solid;
  border-top-left-radius: 4px;
}

.showEntityBrackets .end {
  border-bottom-right-radius: 4px;
  border-right: 2px solid;
  border-top-right-radius: 4px;
}

#entityHighlight {
  border-radius: 5px;
  color: #fff;
}

#entityHighlight.person {
  background-color: #ff0000;
}

#entityHighlight.date {
  background-color: #ff7400;
}

#entityHighlight.place {
  background-color: #009999;
}

#entityHighlight.event {
  background-color: #00cc00;
}

#entityHighlight.org {
  background-color: #3914af;
}

#entityHighlight.citation {
  background-color: #cd0074;
}

#entityHighlight.note {
  background-color: #0d56a6;
}

#entityHighlight.title {
  background-color: #debb00;
}

.showEntityBrackets .person {
  border-color: #ff0000;
}

.showEntityBrackets .date {
  border-color: #ff7400;
}

.showEntityBrackets .place {
  border-color: #009999;
}

.showEntityBrackets .event {
  border-color: #00cc00;
}

.showEntityBrackets .org {
  border-color: #3914af;
}

.showEntityBrackets .citation {
  border-color: #cd0074;
}

.showEntityBrackets .note {
  border-color: #0d56a6;
}

.showEntityBrackets .title {
  border-color: #debb00;
}

.titleTagQuotes:before,
.quoteTagShort:before {
  content: open-quote;
}

.titleTagQuotes:after,
.quoteTagShort:after {
  content: close-quote;
}

.titleTagItalics {
  font-style: italic;
}

.quoteTagLong {
  display: block;
  margin-left: 25px;
}

.headTag {
  font-size: 120%;
  font-weight: bold;
}

.emphTag {
  font-style: italic;
}

span[_tag='p'] {
  display: block;
}

span[_tag='lb'] {
  display: block;
  line-height: 0;
}

span[rend='bold'] {
  font-weight: bold;
}
span[rend='center'] {
  text-align: center;
}

span[rend='italic'] {
  font-style: italic;
}

span[rend='indent'] {
  text-indent: 150px;
}

span[rend='overstrike'] {
  text-decoration: line-through;
}

span[rend='small caps'] {
  font-variant: small-caps;
}

span[rend='underline'] {
  text-decoration: underline;
}

#annos_menu {
  background-color: #ddd;
  border: 1px solid #000;
  display: none;
  padding: 10px;
  position: absolute;
}
